<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Payrestriction\Plugin\Payrestriction" type="Kemana\Core\Plugin\Amasty\Payrestriction"/>
    <preference for="Wyomind\AdvancedInventory\Model\Stock" type="Kemana\Core\Model\Wyomind\Stock"/>
    <preference for="Wyomind\AdvancedInventory\Model\ResourceModel\Product\Collection" type="Kemana\Core\Model\Wyomind\ResourceModel\Product\Collection"/>
    <preference for="Wyomind\AdvancedInventory\Plugin\PointOfSale\Controller\Adminhtml\Manage\Save" type="Kemana\Core\Plugin\Wyomind\PointOfSale\Controller\Adminhtml\Manage\Save"/>
    <preference for="Wyomind\AdvancedInventory\Model\System\Config\Source\Statuses" type="Kemana\Core\Model\Wyomind\System\Config\Source\Statuses"/>
    <preference for="Wyomind\AdvancedInventory\Observer\SalesOrderPaymentCancel" type="Kemana\Core\Observer\Wyomind\SalesOrderPaymentCancel"/>
    <preference for="Magestore\Storepickup\Block\Adminhtml\Store\Edit\Tab\GmapTab" type="Kemana\Core\Block\Magestore\Adminhtml\Store\Edit\Tab\GmapTab"/>
    <!-- Icube Custom for reindex advancedinventory_index_flat table-->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ReindexFlatTable" xsi:type="object">Kemana\Core\Console\Command\ReindexFlatTable</item>
            </argument>
        </arguments>
    </type>
</config>
