<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="icube" translate="label" sortOrder="1000">
            <label>Icube Extension</label>
        </tab>
        <section id="icube_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Config Decimal 17,4</label>
            <tab>icube</tab>
            <resource>Icube_DecimalUpdate::config</resource>
            <group id="execute" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="point_customer_attribute_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Database Name</label>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Run Query</label>
            <field id="build_indexes" translate="label comment tooltip" type="button" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Enable Db 100jt</label>
                <frontend_model>Icube\DecimalUpdate\Block\System\Config\Button</frontend_model>
            </field>
        </group>
        </section>
    </system>
</config>