<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
	    <arguments>
	        <argument name="commands" xsi:type="array">
	            <item name="ImportPrice" xsi:type="object">Icube\Import\Console\Command\ImportPrice</item>
	            <item name="ImportTierPrice" xsi:type="object">Icube\Import\Console\Command\ImportTierPrice</item>
	            <item name="ImportSpecialPriceCcp" xsi:type="object">Icube\Import\Console\Command\ImportSpecialPriceCcp</item>
	            <item name="ImportProductCron" xsi:type="object">Icube\Import\Console\Command\ImportProductCron</item>
	        </argument>
	    </arguments>
	</type>
</config>