<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Wyomind. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="kemana_advancedInventory_product_view" type="Kemana\AdvancedInventory\Plugin\Catalog\Controller\Product\View" />
    </type> 
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="Kemana_AdvancedInventory_Toolbar" type="Kemana\AdvancedInventory\Plugin\Catalog\Block\Product\ProductList\Toolbar" sortOrder="9999"/>
    </type>
    <type name="Magento\Catalog\Model\Layer">
        <plugin name="product_layer_warehouse" type="Kemana\AdvancedInventory\Plugin\Catalog\Model\Layer" sortOrder="90"/>
    </type>
    <type name="Magento\Search\Model\Autocomplete">
        <plugin name="Kemana_AdvancedInventory_show_search_bar" type="Kemana\AdvancedInventory\Plugin\Catalog\Model\Autocomplete" sortOrder="10"/>
    </type>
    <type name="Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Advanced\Collection">
        <plugin name="Kemana_AdvancedInventory_advanced_search" type="Kemana\AdvancedInventory\Plugin\Catalog\Model\Advanced" sortOrder="10"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="fix_checkout_paypal_for_configable" type="Kemana\AdvancedInventory\Plugin\Model\Quote\Item" sortOrder="10"/>
    </type>
    <preference for="Magento\ConfigurableProduct\Helper\Data" type="Kemana\AdvancedInventory\Helper\Configurable"/>
</config>
