<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Block\Address\Edit">
        <plugin name="kemana_customer_magento_customer_block_address_edit" type="Kemana\Customer\Plugin\Magento\Customer\Block\Address\Edit"/>
    </type>
    <type name="Mageplaza\Osc\Block\Checkout\LayoutProcessor">
        <plugin name="kemana_customer_mageplaza_osc_block_checkout_layoutprocessor" type="Kemana\Customer\Plugin\Mageplaza\Osc\Block\Checkout\LayoutProcessor"/>
    </type>
    <type name="Magento\Customer\Model\ResourceModel\AddressRepository">
        <plugin name="kemana_customer_magento_customer_model_resourcemodel_addressrepository" type="Kemana\Customer\Plugin\Magento\Customer\Model\ResourceModel\AddressRepository"/>
    </type>
</config>
